<h1 class="header">New account?</h1>

<div class="register-form-container">
    <form action="" method="POST" id="register-form">
        <p>
            <span>Your name: </span>
            <input type="text" ng-model="fullName">
        </p>
        <p>
            <span>Your home city: </span>
            <input type="text" ng-model="homeCity">
        </p>
        <p>
            <span>Your password: </span>
            <input type="password" ng-model="password">
        </p>

        <div class="line-divider"></div>
        
        <div class="sample">
            <div>Please, enter the text below:</div>
            <p class="sample-text" align="center">"London is the capital of Great Britain"</p>
            <textarea class="fullwidth-textarea"></textarea>
        </div>
    </form>
</div>