<h1 class="header">New account?</h1>

<div class="register-form-container">
    <div id="register-form">
        <p>
            <span>Your name: </span>
            <input type="text" ng-model="fullName">
        </p>
        <p>
            <span>Your password: </span>
            <input type="password" ng-model="password">
        </p>

        <div class="line-divider"></div>
        
        <keyboard-sign-textarea></keyboard-sign-textarea>

        <div class="button">
            <button id="save-button" ng-click="register()" ng-disabled="isRegisterButtonDisabled()">Save user</button>
        </div>
    </div>
</div>